.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  margin: 0 auto;
}


.flat-card{
  width: 100%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px grey;
  margin: 10px;
}

.flat-card-info {
  background-color: #f8f9fa;
  padding: 10px;
  height: 150px;
}

.flat-card-more-info {
  padding: 10px;
}

.fa-solid {
  margin-right: 3px;
}

#price {
  margin: 0px;
}
